@using RealtimeChat.Models
@model User

@{
    ViewBag.Title = "Details";
}

@if (TempData["ChangeInfoorPass"] != null)
{
    <section class="section">
        <div class="container">
            <div class="notification is-success">
                @TempData["ChangeInfoorPass"]
            </div>
        </div>
    </section>
}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Thông Tin Tài Khoản : @Model.ShowName
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        Biệt Danh           : @Model.ShowName<br />
        Tên Đăng Nhập       : @Model.UserName<br />
        Địa Chỉ Mail        : @Model.Email<br />
        Thời Điểm Gia Nhập  : @Model.CreatedAt<br />
    </div>
</section>