
@model RealtimeChat.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<section class="hero is-light">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Login
            </h1>
        </div>
    </div>
</section>

@if (TempData["successMessage"] != null)
{
    <section class="section">
        <div class="container">
            <div class="notification is-success">
                @TempData["successMessage"]
            </div>
        </div>
    </section>
}

<section class="section">
    <div class="container">
        @using (Html.BeginForm())
        {
            <div class="field">
                @Html.LabelFor(m => m.UserName, new { @class = "label" })
                @Html.TextBoxFor(m => m.UserName, new { @class = "input" })
                <p class="help">@Html.ValidationMessageFor(m => m.UserName)</p>
            </div>
            <div class="field">
                @Html.LabelFor(m => m.UserPassword, new { @class = "label" })
                @Html.PasswordFor(m => m.UserPassword, new { @class = "input" })
                <p class="help">@Html.ValidationMessageFor(m => m.UserPassword)</p>
            </div>
            <div class="field">
                <button class="button is-primary">Login</button>
            </div>
        }
    </div>
</section>