@using RealtimeChat.Models

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - Realtime Chat Website</title>
    @Styles.Render("~/Content/css/bulma.min.css")
    @Styles.Render("~/Content/css/custom.css")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="https://unpkg.com/ionicons@4.5.5/dist/ionicons.js"></script>
</head>
<body>
    <nav class="navbar is-info" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    RealtimeChat
                </a>
                <a id="nav-expand-button" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div id="nav-menu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="/rooms" class="navbar-link">
                            Rooms
                        </a>
                        <div class="navbar-dropdown">
                            <a href="/rooms" class="navbar-item">
                                Your joined rooms
                            </a>
                            <a href="/rooms/all" class="navbar-item">
                                All rooms
                            </a>
                            <hr class="navbar-divider">
                            <a href="/rooms/create" class="navbar-item">
                                Create a new room
                            </a>
                        </div>
                    </div>
                </div>
                <div class="navbar-end">
                    @if (Context.User.Identity.IsAuthenticated == false)
                    {
                        <a class="navbar-item" href="/sessions/login">
                            Login
                        </a>
                        <a class="navbar-item" href="/users/create">
                            Register
                        </a>
                    }
                    else
                    {
                        User loggedInUser;
                        using (var db = new RealtimeChatDB())
                        {
                            loggedInUser = db.Users.Where(u => u.UserName == Context.User.Identity.Name).FirstOrDefault();
                        }
                        <a class="navbar-item" href="/users/detail/@loggedInUser.UserID">
                            @loggedInUser.ShowName
                        </a>
                        <a class="navbar-item" href="/sessions/logout">
                            Log out
                        </a>
                    }
                </div>
            </div>
        </div>
    </nav>
    @RenderBody()
    <script>
        $(function () {
            $("#nav-expand-button").click(function () {
                $("#nav-menu").toggleClass("is-active");
            });
        });
    </script>
</body>
</html>